  {% for link in section.settings.menu.links %}
    <li class="header-items">
      {% if link.links.size > 0 %}
      <div class="header-link--wrap df">
          <a class="header-link color-text-primary" href="{{ link.url }}">{{ link.title }}</a>
          {% render 'icon-arrow-down-black' %}
      </div>
      <div class="product-option background-third">
        <ul class="select-product__option">
          {% for child_link in link.links %}
            <li class="select-product__option-level">
              <a class="select-product__option-link color-text-primary" href="{{ child_link.url }}">{{ child_link.title }}</a>                                     
            </li>
          {% endfor %}
        </ul>
      </div>
      {% else %}
        <a class="header-link color-text-primary" href="{{ link.url }}">{{ link.title }}</a>
      {% endif %}
    </li>
  {% endfor %}