
<div class="contact-container">
  <div class="container__large ">
    <div class="grid wide1">
      <div class="form-title ">
        {% if section.settings.heading != blank %}
          <h2 class="heading">
            {{ section.settings.heading }}
          </h2>
        {% endif %}
        {% if section.settings.description != blank %}
        <div class="form-text colors-text-secondary">
          {{ section.settings.description }}   
        </div>
        {% endif %}
      </div>

      <div class="row">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'column' %}
              {%- liquid
                if section.blocks.size == 4
                  assign footer_grid_class = 'l-3'
                elsif section.blocks.size == 3
                  assign footer_grid_class = 'l-4'
                elsif section.blocks.size == 2
                  assign footer_grid_class = 'l-6'
                elsif section.blocks.size == 1
                  assign footer_grid_class = 'l-12'
                endif
              -%}
              <div class="col c-12 mb-20 {{ footer_grid_class }}">
                <div class="service-box contact-box tact service-icon">          
                  {% render 'list-icon', list-icon: block.settings.options_icon %}
                  {% if block.settings.description != blank %}
                    <h3 class="product-title contact-title " >
                      {{ block.settings.description }}
                    </h3>
                  {% endif %}
                  {% if block.settings.detail != blank %}
                    <a href="tel: {{ block.settings.detail }}" class="service-descript colors-text-secondary">
                      {{ block.settings.detail }}
                    </a>
                  {% endif %}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="hours-open">
    {% if section.settings.enable_time == true %}
      {% if section.settings.time_description != blank %}
        <h2 class="hours-open__heading">{{ section.settings.time_description }}</h2>
      {% endif %}
      {% if section.settings.daily_time != blank %}
        <span class=" ">{{ section.settings.daily_time }}</span>
      {% endif %}
      {% if section.settings.weekend != blank %}
        <span class="">{{ section.settings.weekend }}</span>
      {% endif %}
    {% endif %}
  </div>
</div> 

{% schema %}
{
  "name": "Contact",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "OUR CONSULTANTS WILL BE HAPPY TO HELP YOU"
    },
    {
      "type": "richtext",
      "label": "Description",
      "id": "description",
      "default": "<p> Before contacting us we recommend that you read the frequently asked questions </p>"
    },
    {
      "type": "checkbox",
      "label": "Enable time",
      "id": "enable_time",
      "default": true
    }, 
    {
      "type": "text",
      "label": "Time description",
      "id": "time_description",
      "default": "CUSTOMER SERVICE OPENING HOURS"
    },
    {
      "type": "text",
      "label": "Daily Time",
      "id": "daily_time",
      "default": "Monday-Friday: 09: 00-18: 30"
    },
    {
      "type": "text",
      "label": "Weekend",
      "id": "weekend",
      "default": "Saturday: 09: 00-12: 30"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Contact",
      "limit": 4,
      "settings":[
        {
          "type": "select",
          "label": "Options Icon",
          "id": "options_icon",
          "options": [
            {
              "label": "Email",
              "value": "email"
            },
            {
              "label": "Phone Around",
              "value": "Phone-around"
            },
            {
              "label": "Phone",
              "value": "Phone"
            },
            {
              "label": "Chat",
              "value": "Chat"
            }
          ]
        },
        {
          "type": "text",
          "label": "Description",
          "id": "description",
          "default": "SEND US AN EMAIL"
        },
        {
          "type": "text",
          "label": "Detail",
          "id": "detail",
          "default": "Fill in the form"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
 }
{% endschema %}