{{ 'contact-form.css' | asset_url | stylesheet_tag }}

<div class="contact-form__main--wrap">
  <div class="contact-form__main">
    {% if section.settings.heading != blank %}
      <h2 class="contact-form__heading tact">{{ section.settings.heading }}</h2>
    {% endif %}
    
    <div class="contact-form__wrapper grid wide">
      <div class="row">
        <div class="col l-6">
          <div class="contact-form__img">
            <img width="{{ image.width }}" height="{{ image.height }}" loading="lazy" src="{{ section.settings.img | image_url: width: 520, height: 520 }}" alt="image collection"/>
          </div>
        </div>
        <div class="col l-6">
          {% form 'contact' %}
            {%- if form.posted_successfully? -%}
              <h3 class="form__message"> Thanks for contacting us. We'll get back to you as soon as possible.</h3>
            {%- elsif form.errors -%}
              <div class="contact-form__message">
                <h3 class="form__message">Please adjust the following:</h3>
              </div>
              <ul class="form__message" role="list">
                <li>
                  <a href="#ContactForm-email" class="link">
                    {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                  </a>
                </li>
              </ul>
            {%- endif -%}
    
            <div class="contact__fields">
              <div class="field">
                <input class="field__input" type="text" id="ContactForm-name" name="contact[Name]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="Name">
                <label class="field__label" for="ContactForm-name">Name</label>
              </div>
    
              <div class="field field--with-error">
                <input
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  class="field__input"
                  name="contact[email]"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="ContactForm-email-error"
                  {% endif %}
                  placeholder="Email"
                >
                <label class="field__label" for="ContactForm-email">Email <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">Error</span>
                    <span class="form__message">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                  </small>
                {%- endif -%}
              </div>
            </div>
  
            <div class="field">
              <textarea
                rows="10"
                id="ContactForm-body"     
                name="contact[Comment]"
                placeholder="Comment">
                {{- form.body -}}
              </textarea>
              <label class="form__label field__label" for="ContactForm-body">Comment</label>
            </div>
            <div class="contact-form__button">
              <button type="submit" class="">
                Send message
              </button>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Contact form",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Contact form",
      "default": "Contact us"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "select",
      "label": "Image position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}