<div class="footer background-primary container__large {% if section.settings.show_logo == blank %} pt-100 {% endif %}">
  <div class="footer-grap grid wide1">
    <div class="footer-logo {% if section.settings.show_logo == blank %} hidden {% endif %}">
      {% if section.settings.logo != blank %}
        <a href="{{ routes.root_url }}">
          <img width="{{ image.width }}" height="{{ image.height }}" loading="lazy" src="{{ section.settings.logo | image_url: width: 200, height: 200 }}" alt="image logo">
        </a>
      {% else %}
        <a href="{{ routes.root_url }}" class="text-color">{{ shop.name }}</a>
      {% endif %}
    </div>
    
    <div class="row ">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when "link_menu" %}
            <div class="col l-3 m-6 c-12 mb-60 mb-order mb-50-tab">
              <p class="footer-title text-color mb-20">
                {{ block.settings.Column_heading }}
              </p>
              <ul class="footer-list">
                {% for link in block.settings.menu.links %}
                  <li class="footer-item">
                    <a class="footer-link colors-text-secondary" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

          {% when "infomation_lagel" %}         
            <div class="col l-3 m-6 c-12 mb-60 mb-order mb-50-tab">
                <div class="footer-title text-color mb-20">
                    {{ block.settings.heading }}
                </div>
                <div class="footer-list colors-text-secondary">
                  {{ block.settings.descript }}
                </div>
            </div>

          {% when "contact" %}
            <div class="col l-3 m-6 c-12 mb-60 mb-order mb-50-tab">
              <div class="footer-title text-color mb-20">
                {{ block.settings.heading }}
              </div>

                {% form 'customer' %}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="form-email">
                    <input required type="email" name="contact[email]" value="{{ form.email }}" aria-describedby="ContactFooter-success" class="colors-text-secondary" id="inputEmail" placeholder="{{ 'user.placeholder.email' | t }}">
                    <button type="submit" class="text-color">{{ 'user.interactive.subscribe' | t }}</button>
                  </div>
                  {%- if form.posted_successfully? -%}
                    <h3 class="subscribe__success">{{ 'user.thanks.thank' | t }}</h3>
                  {%- endif -%}
                {% endform %}

                {%- if section.settings.show_social != blank -%} 
                  <div class="footer-social text-color">
                    {{ 'socials_media.socials.social_title' | t }}
                  </div>
                  <ul class="footer-social__list">
                    {%- if settings.social_facebook_link != blank -%}
                      <li>
                          <a href="{{ settings.social_facebook_link | escape }}" class="footer-icon">
                            {% render 'icon-facebook' %}
                          </a>
                      </li>
                      {%- endif -%}

                    {%- if settings.social_instagram_link != blank -%}
                      <li>
                        <a href="{{ settings.social_instagram_link | escape }}" class="footer-icon">
                          {% render 'icon-instagram' %}
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if settings.social_linkedin_link != blank -%}
                      <li>
                        <a href="{{ settings.social_linkedin_link | escape }}" class="footer-icon">
                            {% render 'icon-linkedin' %}
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if settings.social_youtube_link != blank -%}
                      <li>
                        <a href="{{ settings.social_youtube_link | escape }}" class="footer-icon">
                            {% render 'icon-youtube' %}
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                {%- endif -%}

                
            </div>
          {% endcase %}
        {% endfor %}
    </div>

    {%- if section.settings.note_footer != blank -%}

      <div class="footer-ifo colors-text-secondary">
        {{ section.settings.note_footer }}
      </div>

    {%- endif -%}

    <div class="author">
      <small class="colors-text-secondary">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
      <small class=" colors-text-secondary">{{ powered_by_link }}</small>
    </div>

    

  </div>
</div>

{% schema %}
{
  "name": "footer",
  "settings":[
    { 
      "type": "image_picker",
      "label": "Logo Image",
      "id": "logo"
    },
    { 
      "type": "checkbox",
      "label": "Show footer logo",
      "id": "show_logo"
    },
    { 
      "type": "checkbox",
      "label": "Show social icon",
      "id": "show_social"
    },
    { 
      "type": "richtext",
      "label": "Description Note Footer",
      "id": "note_footer",
      "default": "<p>De Carlo Nicholas- VAT number: 07020260480- REA: FI-674952 - Registered office: Via di San Quirico a Ruballa 15, 50012, Bagno a Ripoli (FI), Italy</p>"

    }
  ],
    "blocks":[
    {
      "type": "link_menu",
      "name": "Link Menu",
      "limit": 2,
      "settings":[
        {
          "type": "text",
          "id": "Column_heading",
          "label": "Heading",
          "default": "CUSTOMER CARE:"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "infomation_lagel",
      "name": "Infomation",
      "settings":[
        {
          "type": "text",
          "label": "Heading",
          "id": "heading",
          "default": "LEGAL INFORMATION:"
        },
        { 
          "type": "html",
          "label": "Description Legal Infomation",
          "id": "descript",
          "default": "<p>Company name: De Carlo Nicholas</p><p>VAT number: 07020260480</p> <p>REA: FI-674952</p> <p>Registered office: Via di San Quirico a Ruballa 15, 50012, Bagno a Ripoli (FI), Italy</p>"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Contact & Socials",
      "settings": [
        {
          "type": "text",
          "label": "Heading",
          "id": "heading",
          "default": "SUBSCRIBE FOR NEWSLETTER"
        }
      ]
    }
  ]
}
{% endschema %}