{% style %}
  .header-logo .logo__width{
    width: {{ section.settings.logo_width }}px;
  }
  @media (max-width: 767px) {
    .header-logo .logo_width_mobile{
      width: {{ section.settings.logo_width_mobile }}px;
    }
  }
{% endstyle %}

{% liquid
  capture logo 
      render 'header-logo'
  endcapture

  capture menu 
      render 'header-menu'
  endcapture

  capture icon 
      render 'header-icon'
  endcapture

  capture icon_search 
      render 'header-icon-search'
  endcapture

  capture icon_user_cart
      render 'header-icon-user-cart'
  endcapture
%}


<div class="header-nav container__large container-pc-low 
    bgc-{{ section.settings.header_bgc }}
    {% if section.settings.sticky %} psfx {% endif %}">
    {%- case section.settings.menu_style -%}
		  {%- when 'left_left' -%}
        <div class="header-nav__contain wide grid">
          {{ logo }}          
          <ul class="header-list fl1">
            {{ menu }}
          </ul>
          {{ icon }}
        </div>

      {%- when 'left_center' -%}
        <div class="header-nav__contain wide grid">
          {{ logo }}          
          <ul class="header-list">
            {{ menu }}
          </ul>
          {{ icon }}
        </div>

      {%- when 'left_below' -%}
        <div class="header-nav__contain wide grid">
          <div class="logo-menu__wrap df fldcl">
            {{ logo }}          
            <ul class="header-list">
              {{ menu }}
            </ul>
          </div>
          {{ icon }}
        </div>

      {%- when 'center_below' -%}
      <div class="header-nav__contain wide grid">
        {{ icon_search }}
        <div class="logo-menu__wrap df fldcl">
          {{ logo }}          
          <ul class="header-list">
            {{ menu }}
          </ul>
        </div>
        {{ icon_user_cart }}
      </div>
    {%- endcase -%}
</div>

<div class="overlay"></div>



<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'openFunctionNav.js' | asset_url }}" defer="defer"></script>

<!-- <script>
  const header = document.querySelector('.header-nav')
  window.addEventListener('scroll', () => {
    if ( window.scrollY === 0 ){
      console.log(123)
      header.style.marginTop = "50px"
    }
    else{
      header.style.marginTop = "0px"
      header.style.top = 0
    }
  })
</script> -->



{% schema %}
{
  "name": "Header",
  "settings":[
    {
      "type": "select",
      "id": "header_bgc",
      "label": "Color scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        },
        {
          "value": "background-1",
          "label": "Background color 1"
        }
      ]
    },
    {
      "type": "header",
      "content": "logo"
    },
    {
      "type": "image_picker",
      "label": "Image logo",
      "id": "logo",
      "info": "200 x 60px .png recommended"
    },
    {
      "type": "range",
      "label": "Logo max width",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 140
    },
    {
      "type": "range",
      "label": "Logo max width on mobile",
      "id": "logo_width_mobile",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 120
    },
    {
      "type": "select",
      "id": "menu_style",
      "label": "Menu style on large screens",
      "options": [
        {
          "value": "left_left",
          "label": "Logo left, menu left"
        },
        {
          "value": "center_below",
          "label": "Logo center, menu below"
        },
        {
          "value": "left_below",
          "label": "Logo left, menu below"
        },
        {
          "value": "left_center",
          "label": "Logo left, menu center"
        }
      ],
      "default": "left_center"
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Enable sticky header",
      "info": "Header shows on the screen as customers scroll up."
    },
    {
      "type": "header",
      "content": "navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Collection browsing",
      "info": "Show a list of product collections for better catalogue navigation"
    },
    {
      "type": "checkbox",
      "id": "browsing_menu",
      "label": "Enable collection browsing menu",
      "default": false
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading_collection"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Selected collections"
    },
    {
      "type": "header",
      "content": "Social media icons",
      "info": "To display your social media accounts, add them in your theme settings"
    },
    {
      "type": "checkbox",
      "label": "Show social media on mobile",
      "id": "show_social_mobile"
    }
  ]
}
{% endschema %}
