
<div class="service {% if section.settings.bgc == "gray" %}  background_secondary {% endif %} ">
  <div class="service-wrap grid wide1 container__large">
    {% if section.settings.heading != blank %}
      <h2 class="heading category-heading service-heading mb0">{{ section.settings.heading }}</h2>
    {% endif %}

    {% if section.settings.subheading != blank %}
      <p class="form-text title-product--text colors-text-secondary ">
        {{ section.settings.subheading }}
      </p>
    {% endif %}
    <div class="row pt-100">
      {% for block in section.blocks %}
        {%- liquid
          if section.blocks.size == 4
            assign footer_grid_class = 'l-3'
          elsif section.blocks.size == 3
            assign footer_grid_class = 'l-4'
          elsif section.blocks.size == 2
            assign footer_grid_class = 'l-6'
          elsif section.blocks.size == 1
            assign footer_grid_class = 'l-12'
          endif
        -%}
        <div class="col c-12 {{ footer_grid_class }} mb-20">
          <div class="service-box background-third {% if block.settings.border == 'border' %} border {% endif %}">
            {% render 'list-icon-shipping', options-icon: block.settings.options_icon %}
            {% if block.settings.heading != blank %} 
              <h3 class="heading service-title ">
                {{ block.settings.heading }}
              </h3>
            {% endif %}
            {% if block.settings.description != blank %}
              <p class="service-descript colors-text-secondary">
                {{ block.settings.description }}
              </p>
            {% endif %} 
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.more_link }}" class="collection-more service-more">
                {{ block.settings.link }}
                {% if block.settings.link != blank %}
                  {% render 'icon-arrow-right-black' %}
                {% endif %}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Service shipping",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "OUR SERVICES"
    },
    {
      "type":"text",
      "label":"subheading",
      "id":"subheading",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore"
    },
    {
      "type": "select",
      "label": "Background color",
      "id": "bgc",
      "options": [
        {
          "label" : "Gray",
          "value": "gray"
        },
        {
          "label" : "Light",
          "value": "light"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Column",
      "type": "column",
      "limit": 4,
      "settings": [
        {
          "type": "select",
          "label": "Options Icon",
          "id": "options_icon",
          "options": [
            {
              "label": "Box",
              "value": "box"
            },
            {
              "label": "Water",
              "value": "water"
            }
          ]
        },
        {
          "type": "text",
          "label": "Heading",
          "id": "heading",
          "default": "FREE SHIPPING IN ITALY"
        },
        {
          "type": "text",
          "label": "Description",
          "id": "description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        },
        {
          "type": "text",
          "label": "Direction",
          "id": "link",
          "default": "READ MORE"
        },
        {
          "type": "url",
          "id": "more_link",
          "label": "Link"
        },
        {
          "type": "select",
          "label": "Options Border",
          "id": "border",
          "options": [
            {
              "label": "Border",
              "value": "border"
            },
            {
              "label": "None",
              "value": "none"
            }
          ]
        }
      ]      
    }
  ],
  "presets": [
    {
      "name": "Service shipping",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}