
<div class="hero-container slider">
  <div class="slider__wrap">
    {% for block in section.blocks %}

      {% if block.settings.image != blank %}

        <div class="slider__items">
          <img src="{{ block.settings.image | img_url: "master" }}" alt="" class="slider-img" >

          <div class="slide-text grid wide1 container__small">
            <h1 class="hero-heading heading text-color">
              {{ block.settings.heading }}
            </h1>
            <div class="button">
              <a href="./shop.html" class="btn">
                {{ block.settings.buttom }}
              </a>
            </div>
          </div>
        
        </div>

      {% else %}

        <div class="slider-main ">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'slider-img bg-gray ' }}

          <p class="placeholder-text">Slider</p>
        </div>
        
      {% endif %}

    {% endfor %}
  </div>
    
  <button class="next-btn">
      <i class="bi bi-chevron-right"></i>
  </button>
  
  <button class="pre-btn">
      <i class="bi bi-chevron-left"></i>
  </button>
    
</div>

<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
<<<<<<< HEAD
  "name": "Image Banner",
  "settings": [
      
      
  ],
  "blocks": [
    {
      "name": "Custom image slide",
      "type": "image_picker",
      "settings": [
=======
    "name": "Image Banner",
    "blocks": [
>>>>>>> 9d9f3274f71c88862f779f0a28ab731ca64e85b0
        {
          "type": "image_picker",
          "id": "image",
          "label": "Upload your image"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "DECORAZIONI PER LE FESTE",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "buttom",
          "default": "Show Now",
          "label": "Text insite buttom"
        }
      ]
    }
  ],
    "presets": [
      {
          "name": "Slider"
          
      }
    ]
}
{% endschema %}


        