<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">



<style>

  :root {
    --select-color1: {{ section.settings.bg_color1 }};
    --select-color2: {{ section.settings.bg_color }}

  }

  .section-header {
    padding: 20px 0;
  }

  .nav__list {
    display: flex;
  }
  
  .nav {
    flex-basis: 70%;  
  }

  li {
    list-style: none;
    padding: 0 20px;
  }
  .pstn-rlte  {
    position: relative;
  }

  .pstn-asle {
    position: absolute;
  }

  .bgc-1 {
    background-color: var(--select-color1) !important;
  }


</style>


<div id="thanh" style="background-color: var(--select-color2) " class="{% if section.settings.typePage contains page.handle or section.settings.typePage contains request.page_type %} bgc-1 {% endif %} bgc-1 section-header section-header--color">
  <div class="logo">
    <a href="{{ routes.root_url }}">Logo</a>
    
    

  </div>
  <div class="nav">
    <ul class="nav__list">
      {%- for link in section.settings.menu.links -%}
      <li class="nav__item">
        {% if link.links.size > 0 %}
          <details class="pstn-rlte">
            <summary>
              <a class="header-link color-text-primary" href="{{ link.url }}">{{ link.title }}</a>
              <i class="bi bi-chevron-down"></i>
            </summary>
                <ul class="pstn-asle">
                  {% for child_link in link.links %}
                    <li class="select-product__option-level">
                      <a class="select-product__option-link color-text-primary" href="{{ child_link.url }}">{{ child_link.title }}</a>                                     
                    </li>
                  {% endfor %}
                </ul>
              </summary>

          </details>
        {%- else -%}
          <a class="header-link color-text-primary" href="{{ link.url }}">{{ link.title }}</a>  
        {%- endif -%}
      </li>
     
      {%- endfor -%}
    </ul>
  </div>
</div>


{% schema %}
{
  "name": "Top bar",
  "settings": [
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "Color scheme",
      "options": [
        {
          "value": "Accent 1",
          "label": "Accent 1"
        },
        {
          "value": "Accent 2",
          "label": "Accent 2"
        },
        {
          "value": "Accent 3",
          "label": "Accent 3"
        }
      ],
      "default": "Accent 1"
    },
    { 
      "type":"header",
      "content": "Messages"
    },
    {
      "type": "checkbox",
      "label": "Enable messages autoplay",
      "id": "Enabel_autoplay"
    },
    {
      "type": "range",
      "id": "item_per_row",
      "min": 3,
      "max": 10,
      "step": 1,
      "label": "Change message every",
      "default": 5,
      "unit": "s"
    },
    { 
      "type":"header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings](https://accounts.shopify.com/select?rid=c08d3742-4fa9-4af3-8360-7c926dcc3806)"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select menu"
    },
    {
      "type": "checkbox",
      "label": "Show currency selector",
      "id": "show_currency_selector",
      "info": "Currency selector displays inside drawer on mobile"
    },
    { 
      "type":"header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings](https://gia-dinh-g-u.myshopify.com/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "label": "Show language selector",
      "id": "show_language_selector",
      "info": "Language selector displays inside drawer on mobile"
    }
    

  ],
  "presets": [
    {
      "name": "Thanhdz"
    }
  ]
}
{% endschema %}